* {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    width:100%; margin: 0px auto;
}

header {
    background-color: #000080;
    
}
header h1 {
    font-size: 30px; 
    margin: 0px; 
    color: #fff
}

hgroup{
    padding: 3px;
}
header h2 {
    font-size: 18px; 
    margin: 5px; 
    color: #fff;
    font-style: italic;
}

#header {
    width:100%;
}

ul, ol {
    list-style:none;
}

.nav {
    margin:0 auto;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#FFA500;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    font-weight: bold;
}

.nav li a:hover {
    background-color:#00008B;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

section{
    background-color: #F8F8FF;
    width: 100%;
    display: block;
    padding: 3px;

    
}

aside{
    width: 29%;
}

article > header time {
    font-size: 14px; display: block; width: 26px;
    padding: 2px; text-align: center; background-color: #993333;
    color: #fff; font-weight: bold; -moz-border-radius: 6px;
    -webkit-border-radius: 6px; border-radius: 6px; float: left;
    margin-bottom: 10px;
}

article > header time span {
    font-size: 10px; font-weight: normal;
    text-transform: uppercase;
}

article > header h1 {
    font-size: 20px; float: left;
    margin-left: 14px; text-shadow: 2px 2px 5px #333;
}

article > header h1 a {
    color: #993333;
}

article > section header h1 {
    font-size: 16px;
}

article p {
    clear: both;
}

footer{
    background-color: #B0E0E6;
}
footer p {
	text-align: center;
	font-size: 12px;
	color: #888;
	margin-top: 24px;
}